/* You can add global styles to this file, and also import other style files */
.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}
.page-link {
  cursor: pointer;
}

body {
  animation: clignotant 10s infinite;
  background-image: url("assets/image/mer.jpg");
}
.sidebar {
  background-image: url("assets/image/cadre.png") !important;
  background-size: cover !important;
  background-position: center !important;
}
@keyframes clignotant {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.logo-font {
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 2em;
  padding-left: 0.5em;
  font-family: "Oswald";
}
.bold {
  font-weight: bold;
  font-family: "Oswald";
}
.myImg {
  width: 50px !important;
  height: 50px !important;
}
.video {
  width: 250px !important;
  height: 250px !important;
}
.gif {
  width: 250px !important;
  height: 250px !important;
}

.article-preview > a > ul > li > span {
  color: red !important;
  font-weight: bold;
}
