/* You can add global styles to this file, and also import other style files */
.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}
.page-link {
  cursor: pointer;
}

body {
  animation: clignotant 1s infinite;
}
@keyframes clignotant {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
